.itemPage {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    display: flex;

    img {
        height: auto;
        width: 500px;
    }
    
    h1 {
        font-size: large;
        margin-top: 50px;
    }

    h2 {
        font-size: xx-large;
    }

    p {
        font-size: 1rem;
    }
}

