.path {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}
main {
  margin: 0 15%;
}
.goods {
  display: grid;
  grid-template-columns: 200px auto;
}
.listofclasses {
  margin: 0;
  list-style-type: none;
}