.path {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}
main {
  padding: 0 15%;
}
ul {
  margin: 0;
  width: 200px;
  list-style-type: none;
}
.goods {
  display: flex;
  flex-direction: row;
}