@import "./../main.scss";

.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
p {
  width: 45%;
}
.aboutDivider {
  height: 2px;
  background-color: var(--header-nav-color-light);
  margin-bottom: 30px;
}

@media only screen and (max-width: 768px) {
  .about {
    flex-direction: column;
  }
  p {
    width: 100%;
  }
}