* {
  --header-color-one: #dcdcdc;
  --header-color-two: #767676;
  --header-color-three: white;
  --header-color-four: #777777;
}

.logoWithName {
  background-color: var(--header-color-one);
  width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: row;
}

.companyName {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  margin-top: 5px;
  font-size: 30px;
  font-weight: 400;
  white-space: pre-wrap;
}

.companySlogan {
  font-size: small;
}

.logo {
  height: 100px;
  width: 100px;
  background-color: gray;
}

nav {
  width: 100%;
  background-color: var(--header-color-four);
}

.navHeader {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--header-color-two);
  display: flex;
  flex-direction: column;
}

.divider {
  margin: 10px;
  background-color: var(--header-color-three);
  height: 2px;
}

.navHeader > .navLink {
  margin-left: 10px;
  font-size: 12px;
  color: white;
  text-decoration: none;
}

.navHeader > .navLink::after {
  display: block;
  margin-right: 10px;
  content: "";
  border-bottom: solid 2px white;
  opacity: 0;
}

.navHeader > .navLink:hover::after {
  opacity: 1;
}