* {
    --header-color-one: #dcdcdc;
    --header-color-two: #767676;
    --header-color-three: white;
    --header-color-four: #777777;
}
.top {
    background-color: var(--header-color-one);
    display: flex;
    padding: 20px;
    flex-direction: row;
    padding: 0 15%;
    height: 230px;
    align-items: center;
    justify-content: space-between;
}
.logoWithName {
    display: flex;
    flex-direction: row;
}
.companyName {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name {
    margin-top: 5px;
    font-size: 30px;
    font-weight: 400;
    white-space: pre-wrap;
}
.companySlogan {
    font-size: small;
}
.logo {
    height: 100px;
    width: 100px;
    background-color: gray;
}
.backConnect {
    text-align: end;
    span {
        border-bottom: 2px black dashed;
    }
}
nav{
    height: 80px;
    padding: 0 17.5%;
    background-color: var(--header-color-four);
    vertical-align: auto;
}
.divider {
    margin: 10px;
    background-color: var(--header-color-three);
    height: 40px;
    width: 2px;
}
.navHeader {
    background-color: var(--header-color-two);
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: space-between;

    .navLink {
        color: white;
        text-decoration: none;
    };
    .navLink::after {
        display: block;
        content: '';
        border-bottom: solid 2px white;
        opacity: 0;
    }
    .navLink:hover::after {
        opacity: 1;
    }
}